.quotes {
    text-align: center;
    font-family: 'Archivo Black', sans-serif;
    font-family: 'Sacramento', cursive;
    font-size: 3em;
}

@media (max-width: 768px) {

    /* Adjust font size for smaller screens */
    .quotes {
        font-size: 16px;
    }
}

@media (max-width: 480px) {

    /* Further adjust font size for even smaller screens */
    .quotes {
        font-size: 14px;
    }
}

.introImage {
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 100vh; */
}

.abouttechiness {
    text-align: center;
}